{{ define "main" }}
<div class="section agent-lists">
    <div class="container">
        
        <div class="columns">
            
            <div class="column is-8">
                <div class="tabs is-centered">
                    <ul>
                        <li><a href="/featured" class="main-btn" style="color: #fff">Featured</a></li>
                        {{ range $name, $taxonomy := .Site.Taxonomies.status }}
                      <li>
                        <a href="/status/{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
                      </li>
                      {{end}}
                
                      <li>
                    </ul>
                  </div>
                  <div class="columns is-multiline">
                    {{ range (where $.Site.RegularPages "Type" "listings") }}
            {{ if .Params.featured_listing }}
                    <div class="column is-6">
                        
                        {{ partial "featured-listings.html" . }}
                              
                    </div>
                    {{end}}
            {{end}}
                </div>
                {{ partial "pagination" . }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</div>

{{ end }}