{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{ partial "breadcrumbs.html" . }}
        </div>
      </div>
        <div class="columns">
            <div class="column is-8">
              {{ $paginator := .Paginate (where .Pages "Type" "offices") 5 }}
              {{ range $paginator.Pages }}
                <div class="box">
                  <div class="columns">
                    <div class="column is-4">
                      <figure class="image">
                        {{ with .Params.photos.main_photo }}
                        <img src="{{ . }}" alt="{{ $.Site.Data.profile.primary_company_name }}" style="object-fit: cover;height:200px;width:200px;margin: 0 auto;">
                        {{else }}
                        <img src="http://www.hungryram.com/uploads/nophotohouse.jpg" alt="Image">

                        {{end}}
                    </figure>
                    </div>
                    <div class="column agent-list-content">
                      <div class="content">
                          <h1>{{ .Params.title }}</h1>
                          <small>{{ .Params.details.category }}</small>
                        <ul class="agent-list-contact">
                          {{ if .Params.contact.office_phone }}<li><strong>Phone: </strong> <a href="tel:{{ .Params.contact.office_phone }}">{{ .Params.contact.office_phone }}</a></li>{{ end }}
                          {{ if .Params.contact.email }}<li><strong>Email: </strong> <a href="mailto:{{ .Params.contact.email }}">{{ .Params.contact.email }}</a></li>{{ end }}
                        </ul>
                        <p>
                          {{ .Summary }}
                        </p>
                      </div>
                      <a href="{{ .Permalink }}" class="button main-btn">Learn More</a>
                    </div>
                  </div>
                </div>
              {{ end }}
              {{ partial "pagination" . }}

            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</div>

{{ end }}