{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-4">{{ .Title }}</h2>
        </div>
      </div>
        <div class="columns">
            <div class="column is-8">
                {{ $paginator := .Paginate (where .Pages "Type" "teams") 5 }}
                {{ range $paginator.Pages.ByWeight }}
                <div class="box">
                  <div class="columns">
                    <div class="column is-4">
                      <figure class="image">
                        {{ with .Params.details.agent_photo }}
                      <img src="{{ . }}" alt="" style="object-fit: cover;height:200px;width:200px;margin: 0 auto;">
                        {{else }}
                        <img src="https://bulma.io/images/placeholders/480x480.png" alt="Image">

                        {{end}}
                    </figure>
                    </div>
                    <div class="column agent-list-content">
                      <div class="content">
                          <h1>{{ .Params.title }}</h1>
                          <small>{{ .Params.details.title }}</small>
                        <ul class="agent-list-contact">
                          {{ if .Params.contact.cell }}<li><strong>Mobile: </strong> {{ .Params.contact.cell }}</li>{{ end }}
                          {{ if .Params.contact.email }}<li><strong>Email: </strong> {{ .Params.contact.email }}</li>{{ end }}
                          {{ if .Params.contact.phone }}<li><strong>Phone: </strong> {{ .Params.contact.phone }}</li>{{ end }}
                        </ul>
                        <ul class="agent-list-social">
                          {{ if .Params.social_media.facebook }}<li><a href="{{ .Params.social_media.facebook }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>{{ end }}
                          {{ if .Params.social_media.instagram }}<li><a href="{{ .Params.social_media.instagram }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>{{ end }}
                          {{ if .Params.social_media.linkedin }}<li><a href="{{ .Params.social_media.linkedin }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>{{ end }}
                          {{ if .Params.social_media.pinterest }}<li><a href="{{ .Params.social_media.pinterest }}" target="_blank" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>{{ end }}
                        </ul>
                      </div>
                      <a href="{{ .Permalink }}" class="button main-btn">Read More</a>
                    </div>
                  </div>
                </div> <!-- end box -->
              {{ end }}
              {{ partial "pagination" . }}
              </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</div>

{{ end }}