{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{ range .Pages }}
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <figure class="image is-128x128">
                            {{ with .Params.details.agent_photo }}
                          <img src="{{.}}" alt="Image">
                            {{else }}
                            <img src="https://bulma.io/images/placeholders/480x480.png" alt="Image">

                            {{end}}
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>{{ .Params.title }}</strong> <small>{{ .Params.details.title }}</small>
                            <br>
                            {{ .Summary }}
                          </p>
                        </div>
                        <nav class="level is-mobile agent-social">
                          <div class="level-left">
                            {{ with .Params.social_media.facebook }}
                            <a class="level-item" href="{{ . }}" target="_blank">
                              <span class="icon is-small">
                                <i class="fab fa-facebook"></i>
                              </span>
                            </a>
                            {{end}}

                            {{ with .Params.social_media.instagram }}
                            <a class="level-item" href="{{ . }}" target="_blank">
                              <span class="icon is-small">
                                <i class="fab fa-instagram-square"></i>
                              </span>
                            </a>
                            {{end}}

                            {{ with .Params.social_media.linkedin }}
                            <a class="level-item" href="{{ . }}" target="_blank">
                              <span class="icon is-small">
                                <i class="fab fa-linkedin"></i>
                              </span>
                            </a>
                            {{end}}

                            {{ with .Params.social_media.twitter }}
                            <a class="level-item" href="{{ . }}" target="_blank">
                              <span class="icon is-small">
                                <i class="fab fa-twitter-square"></i>
                              </span>
                            </a>
                            {{end}}

                            {{ with .Params.social_media.youtube }}
                            <a class="level-item" href="{{ . }}" target="_blank">
                              <span class="icon is-small">
                                <i class="fab fa-youtube-square"></i>
                              </span>
                            </a>
                            {{end}}
                          </div>
                        </nav>
                      </div>
                    </article>
                  </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}