{{ define "main" }}

<div class="section agent-page">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
          <div style="padding: 20px">
            <h1 class="agent-name">{{ .Params.title }} </h1>
            <h4>{{ .Params.details.title }}{{ if .Params.details.office }}{{ with .Site.GetPage .Params.details.office }} at <a href="{{ .Permalink }}" class="office-link secondary-btn">{{ .Params.title }}</a>{{end}}{{end}}</h4>
            <h4>{{ .Params.details.license_type }} {{ .Params.details.license_number }}</h4>
            
          </div>
          <div class="box">
            <div class="columns">
              <div class="column is-5">
                <img src="{{ .Params.details.agent_photo }}" alt="{{ .Params.title }} {{ .Site.Data.profile.primary_company_name }}">
              </div>
              <div class="column is-7">
                  <h4 class="agent-header">Details</h4>
                <div class="agent-detail-content">
                  {{ with .Params.contact.cell }}
                  <div class="columns is-mobile">
                    <div class="column is-3">
                      <span>Mobile:</span>
                    </div>
                    <div class="column">
                      <a href="tel:{{ . }}" title="Cell">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  
                  {{ with .Params.contact.phone }}
                  <div class="columns is-mobile">
                    <div class="column is-3">
                      <span>Phone:</span>
                    </div>
                    <div class="column">
                      <a href="tel:{{ . }}" title="Phone">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  {{ with .Params.contact.fax }}
                  <div class="columns is-mobile">
                    <div class="column is-3">
                      <span>Fax:</span>
                    </div>
                    <div class="column">
                      <a href="{{ . }}" title="Fax">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  {{ with .Params.contact.email }}
                  <div class="columns is-mobile">
                    <div class="column is-3">
                      <span>Email:</span>
                    </div>
                    <div class="column">
                      <a href="mailto:{{ . }}" title="Email">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}


                  {{ with .Params.details.website }}
                  <div class="columns is-mobile">
                    <div class="column is-3">
                      <span>Link:</span>
                    </div>
                    <div class="column">
                      <a href="{{ . }}" target="_blank" title="Website">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  <div class="columns">
                    <div class="column">
                      <div class="agent-social">
                        <ul>
                          {{ with .Params.social_media.facebook }}
                          <li><a href="{{ . }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.instagram }}
                          <li><a href="{{ . }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.linkedin }}
                          <li><a href="{{ . }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.pinterest }}
                          <li><a href="{{ . }}" target="_blank" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.twitter }}
                          <li><a href="{{ . }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.youtube }}
                          <li><a href="{{ . }}" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.realtor }}
                          <li><a href="{{ . }}" target="_blank" title="Realtor">Realtor</a></li>
                          {{end}}

                          {{ with .Params.social_media.reddit }}
                          <li><a href="{{ . }}" target="_blank" title="Reddit">Reddit</a></li>
                          {{end}}

                          {{ with .Params.social_media.redfin }}
                          <li><a href="{{ . }}" target="_blank" title="Redfin">Redfin</a></li>
                          {{end}}

                          {{ with .Params.social_media.trulia }}
                          <li><a href="{{ . }}" target="_blank" title="Trulia">Trulia</a></li>
                          {{end}}
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            
            <div class="columns">
              <div class="column">
                  <h4 class="agent-header">Additional Information</h4>
              </div>            
            </div>
            <div class="columns">
              <div class="column">
                <ul class="agent-additional">
                  <li><i class="far fa-comment"></i><strong>Language:</strong></li>
                {{ range .Params.details.languages }}
                  <li class="accent-boxes" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }}">{{ . }}</li>
                {{ end }}
                </ul>

                <ul class="agent-additional">
                  <li><i class="far fa-star"></i><strong>Specialties:</strong></li>
                {{ range .Params.details.specialty }}
                  <li class="accent-boxes" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }}">{{ . }}</li>
                {{ end }}
                </ul>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                  <h4 class="agent-header">About</h4>
              </div>            
            </div>
            <div class="columns content">
              <div class="column">
                <div class="agent-detail-content">
                  {{ .Content }}
                </div>
              </div>
            </div>
          </div>
      </div>
{{ partial "sidebar.html" . }}
    </div>
  </div>
</div>

{{ end }}