{{ define "main" }}

<div class="section agent-page">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
          <div style="padding: 20px">
            <h1 class="agent-name">{{ .Params.title }}</h1>
            <h4>{{ .Params.details.title }}</h4>
            <h4>{{ .Params.details.license_type }}: {{ .Params.details.license_number }}</h4>
            
          </div>
          <div class="box">
            <div class="columns">
              <div class="column is-5">
                <img src="{{ .Params.details.agent_photo }}" alt="">
              </div>
              <div class="column is-7">
                  <h4 class="agent-header">Details</h4>
                <div class="agent-detail-content">
                  {{ with .Params.contact.cell }}
                  <div class="columns is-mobile">
                    <div class="column is-1">
                      <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="column">
                      <a href="tel:{{ . }}">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  
                  {{ with .Params.contact.phone }}
                  <div class="columns is-mobile">
                    <div class="column is-1">
                      <i class="fas fa-phone"></i>
                    </div>
                    <div class="column">
                      <a href="tel:{{ . }}">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  {{ with .Params.contact.fax }}
                  <div class="columns is-mobile">
                    <div class="column is-1">
                      <i class="fas fa-fax"></i>
                    </div>
                    <div class="column">
                      <a href="{{ . }}">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}

                  {{ with .Params.contact.email }}
                  <div class="columns is-mobile">
                    <div class="column is-1">
                      <i class="far fa-envelope"></i>
                    </div>
                    <div class="column">
                      <a href="mailto:{{ . }}">{{ . }}</a>
                    </div>
                  </div>
                  {{ end }}


                  {{ with .Params.details.website }}
                  <div class="columns is-mobile">
                    <div class="column is-1">
                      <i class="fas fa-globe"></i>
                    </div>
                    <div class="column">
                      <a href="{{ . }}" target="_blank">Website</a>
                    </div>
                  </div>
                  {{ end }}

                  <div class="columns">
                    <div class="column">
                      <div class="agent-social">
                        <ul>
                          {{ with .Params.social_media.facebook }}
                          <li><a href="{{ . }}"><i class="fab fa-facebook-square"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.instagram }}
                          <li><a href="{{ . }}"><i class="fab fa-instagram-square"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.linkedin }}
                          <li><a href="{{ . }}"><i class="fab fa-linkedin"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.pinterest }}
                          <li><a href="{{ . }}"><i class="fab fa-pinterest"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.twitter }}
                          <li><a href="{{ . }}"><i class="fab fa-twitter-square"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.youtube }}
                          <li><a href="{{ . }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                          {{end}}

                          {{ with .Params.social_media.realtor }}
                          <li><a href="{{ . }}" target="_blank">Realtor</a></li>
                          {{end}}

                          {{ with .Params.social_media.reddit }}
                          <li><a href="{{ . }}" target="_blank">Reddit</a></li>
                          {{end}}

                          {{ with .Params.social_media.redfin }}
                          <li><a href="{{ . }}" target="_blank">Redfin</a></li>
                          {{end}}

                          {{ with .Params.social_media.trulia }}
                          <li><a href="{{ . }}" target="_blank">Trulia</a></li>
                          {{end}}
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>

            
            <div class="columns">
              <div class="column">
                <div class="agent-header">
                  <h4>Specialty</h4>
                </div>
              </div>            
            </div>
            <div class="columns">
              <div class="column">
                {{ range .Params.details.specialty }}

                <span class="specialties">{{ . }}</span>

                {{ end }}
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="agent-header">
                  <h4>About</h4>
                </div>
              </div>            
            </div>
            <div class="columns content">
              <div class="column">
                <div class="agent-detail-content">
                  {{ .Content }}
                </div>
              </div>
            </div>

          </div>
      </div>

{{ partial "sidebar.html" . }}
      

  
    </div>
  </div>
</div>

{{ end }}