body {
    background: #F7F7F7;
    font-family: 'Lato', sans-serif!important;

}

p {
    line-height: 2;
}

/* NAV */

.navbar-item img {
    max-height: none!important;
}

.navbar-end {
    align-items: center!important;
}

.head-nav li {
    display: inline-block;
    padding: 0 20px;
}

header a {
    color: white;
}

.sub-menu:hover .sub {
    display: block;
}

.navbar-brand h1 {
    font-size: 1.3em;
    color: white;
}

@media screen and (max-width: 768px) {
    div#navbarMenuHeroC {
        background-color: black;
    }
}

/* nav {
    display: none;
} */

.sub {
    display: none;
}

.open {
    display: block;
}

.nav-open {
    display: block;
}

/* header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-transform: uppercase;
    z-index: 100;
} */

/* .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;

} */
/* 
.header-left,
.header-logo,
.nav-menu {
    flex: 33.3%;
    color: #fff;
} */

.hero__container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/cosmic-timetraveler-oLh-_gLQeak-unsplash.jpg") no-repeat center;
    background-size: cover;
}

.hero-content {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.hero-body h1 {
    color: #fff;
    line-height: 2;
}

.hero-body h2 {
    color: #cbcbcb;
}

/* CAROUSEL */

#featured-listings p {
    color: #7A7A7A;
}

.f-prop-address {
    font-size: 12px;
    margin: 0;
    color: #7d7d7d;
    font-weight: 800;
}

.prop-result i {
    margin-right: 8px;
    color: #bfbfbf;
}

.rent-per-month {
    font-weight: 100;
    color: #bfbfbf;
    margin-left: 5px;
}

.listing-detail-slider p {
    font-size: 14px;
}

.listing-detail-slider span {
    font-weight: 600;
    font-size: 12px;
}

.pricing-slider {
    position: absolute;
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    color: white;
    top: 0;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    font-weight: 800;
}

.listing-detail-slider {
    padding: 0 1.5rem;
}

.prop-result img {
    object-fit: cover;
    
}

.f-image-overlay::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0.2));
  }

.img-address {
      padding: 0 1.5rem;
      position: relative;
      bottom: 50px;
      color: white;
      font-size: 16px;
      
      font-weight: 800;
  }

.listing-detail-status {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: #92C800;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    font-size: 11px;
    border-radius: 2px;
    font-weight: 600;
  }

.img-address i {
      color: #FF3B45;
  }

.listing-detail-slider {
    margin-top: -35px!important;
  }

.detail-list-slider li {
      display: inline-block;
  }

/* Listing Carousel */

.slick-prev, .slick-next {
      background-color: black!important;
      top: 0!important;
  }

.slick-next {
      right: auto!important;
  }

  /* LISTING DETAILS */

.listing-details .box {
      box-shadow: 0px 5px 14px #cdcdcd;
      border-radius: 4px;
  }

.listing-details p {
      color: #818181;
  }

.listing-details i {
      margin-right: 8px;
  }

.single-listing-header-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}

div.single-listing-head h4 {
    font-weight: 200;
}

.single-marked-icon i {
    font-size: 4em;
}

.level-details .level.is-mobile {
    margin-bottom: 10px!important;
}

.level-details hr {
    margin: 12px 0!important;
}

.listing-detail-features li {
    display: inline-block;
    padding: 10px;
}

.listing-detail-features li i {
    color: #bdbdbd;
}

.attachments-detail i {
    color: #f44336;
}

  /* TEAM */

.agent-social i {
    font-size: 24px;
    color: black;
}

/* HOME TILE */

.home-tile a {
    display: block;
    height: 100%;
    padding: 150px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.home-tile {
    transition: all .2s ease-in-out;
}

.home-tile:hover {
    opacity: .9!important;
    transition: all .2s ease-in-out;
}

/* HOME BLOG */

.card.home-card:hover {
    box-shadow: 0px 2px 9px 3px #cac9c9;
    transition: all .2s ease-in-out;
}

.card.home-card {
    transition: all .2s ease-in-out;
}

/* AGENT DETAILS PAGE */

.agent-detail-header,
.agent-header {
    background-color: #f7f7f7;
    padding: 15px;
}

.agent-detail-content {
    padding: 15px;
}

.specialties {
    margin: 5px 10px;
}

.agent-header h4 {
    font-weight: 800;
}

.agent-social li {
    display: inline-block;
    margin: 3px;
}

.agent-name {
    font-size: 2rem;
}

.agent-page a {
    color: #8f8f8f;
}

.agent-page .box {
    border-radius: 2px;
    box-shadow: 0px 1px 15px 2px #bdbdbd;
}

#share-buttons img {
    width: 30px;
    margin: 0 4px;
}

/* FOOTER */

footer {
    background: black!important;
}

footer p {
    color: #fff;
}

footer a {
    color: #8f7d20;
}