h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle,
h6.subtitle {
    font-family: "Raleway", sans-serif;
}


/* DEFAULT LIST.HTML */

button.button {
    border: 0!important;
    border-radius: 0;
    color: #fff;
    transition: all .2s ease;
    padding: 0 20px;
}

address {
    font-style: normal;
}

nav.breadcrumb.is-small li a {
    text-transform: capitalize;
    color: #7c7c7c;
}

.button.is-hovered, .button:hover {
    color: #ccc!important;
    transition: all .2s ease;
}

.default-list {
    padding: 30px;
}

.default-list a {
    display: block;
    width: 100%;
    height: 100%;
    color: #007bb6;
}

/* FORMS */
input.input,
textarea.textarea {
    border-radius: 0;
}



/* SHARE BUTTONS */

div#share-buttons i {
    padding: 5px;
    font-size: 15px;
}


/* LISTING CAROUSEL */

.slick-prev, .slick-next {
    z-index: 1000;
}


.slick-prev::before {
    font-family: FontAwesome!important;
    content:  "\f104"!important;
    font-size: 28px!important;
    color: #007bb6!important;
}  
.slick-next::before {
    font-family: FontAwesome!important;
    content:  "\f105"!important;
    font-size: 28px!important;
    color: #007bb6!important;
}      

.card-footer-item i,
.listing-address i {
    margin-right: 8px;
}

.listing-bg:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition: all .8s ease;
}

.listing-bg {
    transition: all .8s ease;

}

.listing-image-container {
    overflow: hidden;
}

span.status {
    background: #00AFFF;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
}

span.featured {
    background: #E28429;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
}

.card-footer-item {
    font-size: 12px;
    color: #242429;
}

.listing-bottom {
    padding: 1rem;
}

.listing-bottom ul li {
    color: #fff;
}

.list-description {
    font-size: 18px;
    font-weight: 800;
}

.list-pricing {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    padding: 5px 7px;
}

a.main-btn {
    color: #fff;
    padding: 10px 40px;
    border-radius: 0;
}

body {
    background: #fbfbfb;
    color: #303030;
    height: 100%;
}

main {
    padding: 50px 0px;
}

body {
    overflow: hidden;
}

body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.fa-facebook-f {
    color: #506dab!important;
}

i.fab.fa-instagram {
    color: #517fa4!important;
}

.fa-linkedin-in {
    color: #007bb6!important;
}

.fa-pinterest-p {
    color: #cb2027!important;
}

.fa-twitter {
    color: #00aced!important;
}

.fa-youtube {
    color: #be0303;
}

p,
li,
a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
    transition: .2s;

}

div a:hover {
    color: #a2a2a2;
    transition: .2s;
}

.box a:hover {
    color: #a2a2a2;
}

div.box {
    box-shadow: 0 2px 3px rgba(148, 148, 148, 0.15), 0 0 0 1px rgba(250, 0, 0, 0)!important;
    border-radius: 0px;
    transition: all .4s ease;
}

div.box:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,.15)!important;
    transition: all .4s ease;
}

p {
    line-height: 2;
}

/* HOME SECTIONS */

.home-featured-sections .title {
    line-height: 2;
    font-size: 2rem;
    font-weight: 400;

}

a.button.hero-button {
    padding: 15px 30px!important;
    font-size: 1rem;
    border-radius: 0;
}

/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #00aeff;
}

.pagination li:hover a {
    background: #DCE0E0;
    transition: all .3s ease;
}

ul.pagination {
    justify-content: center;
}

li.page-item {
    padding: 2px;
    font-size: 14px;
}

.pagination-next,
.pagination-previous {
    background: white;
    border-color: #fff!important;
}

.disabled {
    display: none;
}

a.press-link {
    background-color: black;
    padding: 10px 15px;
    color: #fff;
}

/* NAV */
@media screen and (max-width: 1087px){

    span.navbar-burger {
        transition: all .2s ease;
        margin-top: 10px;
    }
    
    .navbar-menu.is-active {
        display: block;
        transition: all .3s ease;
        position: absolute;
        right: 0;
        top: -20px;
        height: 105vh;
    }

    .navbar-burger {
        z-index: 1000;
    }
    
    div.navbar-menu {
        display: block;
        position: absolute;
        right: -1000px;
        transition: all .3s ease;
        padding: 40px;
        height: 105vh;
        top: -20px;
    }

    .head-nav li a.nav-item,
    .head-nav a.parent-drop {
        color: #000!important;
    }

    div#navbarMenuHeroC ul:first-child {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    div#navbarMenuHeroC {
        padding: 40px 60px 0 60px;
        position: fixed;
        overflow-y: auto;
    }

    ul.head-nav li {
        padding: 10px;
    }

    .sub.sub-active-menu {
        max-height: 600px;
        transition: max-height .3s ease;
        background: #7c7c7c;
        /* padding: 10px;
        margin-top: 15px; */
    }
    
    .sub {
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease;
    }
}



@media screen and (min-width:1087px) {
    .head-nav li {
        display: inline-block;
        padding: 0 10px;
        font-size: 14px;
    }

    ul.sub {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease;
        width: 250px;
    }

    .sub-menu:hover ul.sub {
        visibility: visible;
        background: #fff;
        margin-top: 38px;
        opacity: 1;
        transition: all .2s ease;
    }

    .dropdown-i {
        transition: all .2s ease;
        padding: 0 5px;
    }

    .sub-menu:hover .dropdown-i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg );
        transition: all .4s ease;
    }

    .sub li {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        border-top: 1px solid rgba(0,0,0,.15);
        transition: all .3s ease;
    }

    .sub li:hover {
        padding-left: 20px;
        transition: all .3s ease;
        background: #e8e8e8;
    }

    .head-nav a.nav-item,
    .head-nav a.parent-drop {
        padding: 40px 0;
        color: white;
    }
}

/* ALL SCREEN SIZE MENU */
div.top-bar {
    background: black;
    color: #fff;
    position:relative;
    z-index: 100;
    padding: 5px;
}

header.navbar {
    padding: 10px 0;
}

a.navbar-item img {
    max-height: 4rem;
}

.navbar-end {
    align-items: center!important;
}


.sub-menu:hover .sub-active-menu {
    max-height: 600px;
    transition: max-height .3s ease;
}

.navbar-brand h1 {
    font-size: 1.3em;
    color: white;
}

/* HERO CONTAINER  */

section.hero__container {
    background-size: cover;
}

.hero-content {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.hero-body h1 {
    color: #fff;
    line-height: 2;
}

.hero-body h2 {
    color: #cbcbcb;
}

@media screen and (max-width: 768px){
    .hero-body h1.hero-title {
        font-size: 28px;
    }

    .hero-body h2.subtitle {
        font-size: 18px;
    }
}

/* VIDEO BACKGROUND */

.video-container,
.youtube-container {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.video-container video,
.youtube-container #ytplayer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.youtube-container iframe#ytplayer-box {
    zoom: 8;
    -moz-zoom:8;
}

@media screen and (max-width: 768px) {
    .youtube-container,
    .video-container {
        display: none;
    }
}

.black-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

/* PAGE BANNER */

div.page-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-banner h2.title {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .page-banner h2.title {
        font-size: 1.5rem;
    }
}

/* CAROUSEL */

#featured-listings p {
    color: #7A7A7A;
}

.f-prop-address {
    font-size: 12px;
    margin: 0;
    color: #7d7d7d;
}

.prop-result i {
    margin-right: 8px;
    color: #bfbfbf;
}

.rent-per-month {
    font-weight: 100;
    color: #e8e8e8;
    margin-left: 5px;
}

.listing-detail-slider p {
    font-size: 14px;
}

.listing-detail-slider span {
    font-weight: 600;
    font-size: 12px;
}

.pricing-slider {
    position: absolute;
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    color: white;
    top: 0;
    z-index: 100;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}

.listing-detail-slider {
    padding: 0 1.5rem;
}

.prop-result img {
    object-fit: cover;
    
}

.f-image-overlay::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0.2));
  }

.img-address {
      padding: 0 1.5rem;
      position: relative;
      bottom: 50px;
      color: white;
      font-size: 16px;
}

.listing-detail-status {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background: #92C800;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    font-size: 11px;
    border-radius: 2px;
    font-weight: 600;
  }

.img-address i {
      color: #FF3B45;
  }

.listing-detail-slider {
    margin-top: -35px!important;
  }

.detail-list-slider li {
      display: inline-block;
  }

/* Listing Carousel */

/* .slick-prev, .slick-next {
      background-color: black!important;
      top: 0!important;
  }

.slick-next {
      right: auto!important;
  } */


  .slider-nav {
      margin-top: 10px;
  }

.slick-dots li button:before {
    font-size: 30px!important
}

  /* LISTING DETAILS */

  @media screen and (max-width: 1088px) {
      div.desktop-view {
          display: none;
      }
  }

  @media screen and (min-width: 1088px) {
      div.mobile-view {
          display: none;
      }
  }

  div.mobile-view {
    padding: 1rem 1.5rem;
  }

  .single-price-header p {
      color: #4a4a4a;
      font-weight: 200;
  }

@media screen and (max-width: 768px) {
    .single-details-list ul {
        columns: 1!important;
        -webkit-columns: 1!important;
        -moz-columns: 1!important;
    }
}

.single-details-list ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


.single-details-list ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 25px;
    font-size: 13px;
}

.single-details-list ul li span {
    float: right;
}

@media screen and (max-width: 768px) {
    div.single-features-list ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

.single-features-list ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.single-features-list ul li {
    padding: 10px 0;
    font-size: 13px;
}

.single-features-list ul li i {
    font-size: 14px;
}

.listing-details .box {
    border-radius: 0px;
    box-shadow: 0 2px 3px rgba(148, 148, 148, 0.15), 0 0 0 1px rgba(250, 0, 0, 0)!important;
}

.listing-details hr {
    color: #dce0e0;
    height: 1px;
}

.listing-details p {
      color: #222222;
      font-size: 13px;
      font-weight: 300;
      line-height: 25px;
  }

.single-features-list h3.title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 14px;
}

.listing-details i {
      margin-right: 8px;
      color: #b4c0c9;
  }

div.single-listing-head address {
    font-weight: 200;
    margin-top: 1.5rem;
    font-style: normal;
    font-size: 15px;
}

.single-listing-head span {
    background-color: #000000;
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
}

.single-marked-icon i {
    font-size: 4em;
}

.listing-detail-features li {
    display: inline-block;
    padding: 10px;
}

.listing-detail-features li i {
    color: #bdbdbd;
}

.attachments-detail i {
    color: #f44336;
}

.listing-agent article div ul {
    list-style: none;
    margin: 0;
}

.single-open-house {
    padding-bottom: 20px;
}

.vt-single iframe {
    width: 100%;
    height: 50vh;
}

.single-agent-link {
    color: white;
    transition: all .2s ease-in-out;
}

.single-agent-link:hover {
    transition: all .2s ease-in-out;
    color: #fff;
}

img.img-holder {
    margin: 0 auto;
}

div.hidden {
    display: none;
}

button.sort-nav {
    background: transparent;
    border: none;
    font-size: 16px;
    color: #191919;
}

a.ascending,
a.descending {
    color: #191919;
}


@media screen and (max-width: 768px) {
    div#dropdown-menu2 {
        position: absolute;
        left: -120px;
    }
}

.navbar-item.has-dropdown.is-active{
    opacity: 1;
    transition: all .2s ease;
}

  /* TEAM */

.agent-social i {
    font-size: 24px;
}

/* HOME TILE */

.home-tile a {
    height: 100%;
    padding: 150px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    display: flex;
    transition: all .2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.home-tile {
    transition: all .2s ease-in-out;
}

.home-tile:hover a {
    color: #fff;
}

.home-tile:hover {
    opacity: .9!important;
    transition: all .3s ease-in-out;
    color: #fff;
}
/* SIDEBAR */
.profile-sidebar {
    margin: 0 auto;
    text-align: center;
}

.profile-sidebar img {
    margin: 10px 0;
}


/* HOME BLOG */

.card-image figure {
    overflow: hidden;
    
}

.home-card:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    width: auto;
    height: auto;
}

.card-image img {
    transition: all .2s ease-in-out;
}

.card.home-card {
    transition: all .2s ease-in-out;
}

.home-blog-content div h3 {
    font-size: 16px;
}

.home-blog-content p {
    font-size: 14px;
}

.home-blog-content a {
    font-size: 14px;
}

/* BLOG SINGLE */

.author-blog {
    margin-top: 100px;
}

/* AGENT LIST PAGE */

.agent-list-content small {
    color: #bfbfbf;
    font-size: 14px;
}

.agent-list-content .content h1 {
    font-size: 20px;
    margin: 0;
}

.agent-list-contact,
.agent-list-social {
    margin: 0!important;
    padding: 10px 0;
    color: #303030;
}

ul.agent-list-contact a {
    color: #303030;
}

.agent-list-contact li {
    list-style: none;
}

.agent-list-social li:first-child {
    padding-left:0;

}

.agent-list-social li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

/* .agent-list-social i,
.agent-social i {
    color: #888;
} */

.agent-social i {
    font-size: 16px;
}

/* AGENT DETAILS PAGE */

.agent-name {
    color: #000;
}


.agent-header {
    background-color: #f5f5f5;
    padding: 10px;
    font-weight: 500;
    border-top: 3px solid #767676;
    color: #000;
    font-size: 14px;
}

.agent-detail-content {
    padding: 15px;
}

.agent-additional {
    padding: 15px;
}

.agent-additional i {
    margin-right: 8px;
}

.accent-boxes {
    padding: 5px 6px;
    color: #fff;
    margin: 0 2px;
    border-radius: 4px;
    font-size: 13px;
}

.agent-additional li {
    display: inline-block;
    margin: 2px;
}

.agent-social li {
    display: inline-block;
    margin: 3px;
}

.agent-name {
    font-size: 2rem;
}

.agent-page a {
    color: #000000;
}

.agent-page span {
    font-weight: 600;
}

.agent-page .box {
    border-radius: 2px;
    box-shadow: 0px 1px 15px 2px #bdbdbd;
}

/* AGENT SLIDER */

.agent-slider {
    margin: 0 auto;
    text-align: center;
}

.agent-slider figure {
    text-align: center;
    margin: 15px auto;
}

.agent-slider h4.subtitle.is-5 {
    margin-bottom: 5px;
}

.agent-slider a {
    color: #414141;
}

#share-buttons img {
    width: 30px;
    margin: 0 4px;
}

/* CTA SECTION */

.cta-box-one,
.cta-box-two,
.cta-box-three {
    padding: 140px 40px;
    border-radius: 4px;
}

.cta-wrapper a {
    color: #fff;
}


/* NEW */


.cta-a-wrap {
    display: block;
    height: 100%;
    width: 100%;
}

.cta__container {
    margin-bottom: 0!important;
}

.icon-cta-one-container,
.icon-cta-two-container,
.icon-cta-three-container {
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.icon-cta-one-container {
    background: #1f1f1f;
}

.icon-cta-two-container {
    background: #141414;
}

.icon-cta-three-container {
    background: #090909;
}

.icon-cta-content h3 {
    color: #fff!important;
    font-size: 1.5rem;
}

.icon-cta-content p {
    font-size: 1rem;
    color: #e8e8e8;
}

/* .icon-cta-one-container:hover {
    opacity: .9;
    transition: all .2s ease-in-out;

}

.icon-cta-two-container:hover {
    opacity: .9;
    transition: all .2s ease-in-out;

}

.icon-cta-three-container:hover {
    opacity: .9;
    transition: all .2s ease-in-out;

} */

.icon-cta-box .icon {
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: white;
    font-size: 30px;
}

.icon-cta-content {
    padding-top: 40px;
}

/* TESTIMONIAL */

.quote-testimonial i {
    font-size: 20px;
    margin: 20px;
}

.responsive-testimonial-slide {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.testimonials-slider figure {
    margin: 15px auto;
}

.testimonials-slider p {
    line-height: 25px;
}

.testimonials-slider a {
    color: #a2a2a2;
}

/* FOOTER */

footer.site-footer {
    bottom:0;
    left:0;
}

footer.footer h4.subtitle {
    /* color: #fff; */
    text-transform: uppercase;
    font-weight: 600;
}

/* footer p {
    color: #9c9c9c;
} */

footer ul li {
    padding: 8px 0;
    /* color: #9c9c9c; */
}

footer ul li i {
    padding-right: 8px;
}

ul.footer-contact li a {
    color: inherit;
}

.bottom-credit {
    padding: 15px;
    text-align: center;
    background: #191919;
}

.bottom-credit a,
.bottom-credit small {
    color: #9c9c9c;
    font-size: 14px;
}

ul.footer-social li {
    display: inline-block;
}
/* CONTACT PAGE */

.contact-page-icons li {
    margin: 15px 0;
}

.contact-page-icons li i {
    margin-right: 10px;
}

.contact-page-social li {
    display: inline-block;
    padding-right: 10px
}

/* IHOMEFINDER */

#ihf-main-container input.ihf-area-input[type=text],
#ihf-main-container input.ihf-search-form-input[type=text],
#ihf-main-container select.ihf-chosen-select-width,
#ihf-main-container .ihf-main-search-form-submit {
    border-radius: 0px!important;
}

#ihf-main-container label {
    color: #c2c2c2!important
}



.hero-foot {
    background: rgba(0, 0, 0, 0.6);
}

.hero-foot div.section {
        padding: 1rem 1.5rem;
}

.inner-cont {
    color: #c2c2c2;
    padding: 0 40px;
}

.inner-cont small strong {
    color: #fff;
}

@media print {
    div.hero-head,
    div.page-banner,
    div.column.desktop-view.has-text-right,
    footer.site-footer,
    div.bottom-credit {
        display: none!important;
    }
}