* {
    font-family: "Montserrat", sans-serif;
}

/* NAV */

.nav-menu {
    cursor: pointer;
}

nav {
    display: none;
}

.nav-open {
    display: block;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-left,
.header-logo,
.nav-menu {
    flex: 1;
    color: #fff;
}

.hero__container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/cosmic-timetraveler-oLh-_gLQeak-unsplash.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}



/* Small (sm) */
@media (min-width: 640px) {
    #section__container {
        max-width: 640px;
        margin: 0 auto;
        padding: 70px 20px;
    }

    
}

/* Medium (md) */
@media (min-width: 768px)  {
    #section__container {
        max-width: 768px;
        margin: 0 auto;
        padding: 70px 20px;
    }

    .about-content-inner {
        width: 500px;
    }
}


/* Large (lg) */
@media (min-width: 1024px)  {
    #section__container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 70px 20px;
    }
}


/* Extra Large (xl) */
@media (min-width: 1280px)  {
    #section__container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 70px 20px;
    }
}