{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                {{ range .Pages }}
                <div class="box content">
                    <img src="{{ .Params.featured_image }}" alt="">
                    <h1>{{.Title}}</h1>
                    {{ slicestr .Summary 2 300 | markdownify }}
                    <hr>
                    <div class="columns">
                        <div class="column">
                            <time><i class="far fa-calendar-alt"></i> {{ .Params.date_published }}</time>
                        </div>
                        <div class="column has-text-right">
                            <a href="{{ .Permalink }}">Read More</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>

{{ partial "sidebar.html" . }}

        </div>
    </div>
</div>

{{ end }}