{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{ partial "breadcrumbs.html" . }}
            </div>
        </div>
        <div class="columns">
            <div class="column is-8 content">
                <img src="{{ .Params.featured_image }}" alt="">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
                <div class="author-blog">
                    {{ if .Params.author }}<p>
                        {{ with .Site.GetPage .Params.author }}
                        <div class="columns notification">
                            <div class="column is-4 has-text-centered">
                                <img src="{{ .Params.details.agent_photo }}" alt="" style="object-fit: cover;height:150px;width:150px;border-radius:50%;margin: 0 auto;">
                            </div>
                            <div class="column">
                                <h4 class="subtitle is-4">{{ .Title }}</h4>
                                <h6 class="subtitle is-6">{{ .Params.details.title }}</h6>
                                {{ .Summary }}
                                <a href="{{ .Permalink }}" class="secondary-btn">Read More</a>
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</div>
{{end}}