{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div style="height: 25vh;background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),url({{ .Site.Data.design.sub_pages.sub_page_image }}); background-size: cover;background-position: center" class="page-banner">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-3">{{ .Title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "footer.html" . }}