{{ define "main" }}

<div class="section">
  <div class="container">
    <h1 class="title is-4">Testimonial by {{ .Title }}</h1>
    <div class="columns card notification" style="margin: 10px 0;">
      <div class="column is-3" align="center">
          <figure class="image is-128x128">
              <img class="is-rounded" src="{{ .Params.photo }}">
          </figure>
      </div>
      <div class="column quote-testimonial">

          {{ if gt ( len .Params.testimonial )  0 }}
              <p>{{ .Params.testimonial }}</p><br>
          {{end}}
          
          {{ if gt ( len .Params.title )  0 }}
              <strong><em>{{ .Params.title }}</em></strong><br>
          {{end}}
          
          {{ if gt ( len .Params.occupation )  0 }}
              <em>{{ .Params.occupation }}</em><br>
          {{end}}

          {{ if gt ( len .Params.date_published )  0 }}
              <em>{{ .Params.date_published }}</em><br>
          {{end}}

          {{ if gt ( len .Params.source_link )  0 }}
              {{ if gt ( len .Params.source_label )  0 }}
                  <a href="{{ .Params.source_link }}" target="_blank">{{.Params.source_label  }}</a><br>
              {{end}}
          {{end}}

          {{ if gt ( len .Params.external_link )  0 }}
              {{ if gt ( len .Params.link_label )  0 }}
                  <a href="{{ .Params.external_link }}" target="_blank">{{.Params.link_label  }}</a><br>
              {{end}}
          {{end}}

          <a href="{{ .Permalink }}">More</a>
      </div>
  </div>
  </div>
</div>
{{ end }}
