{{ define "main" }}


<div class="section agent-lists">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{ partial "breadcrumbs.html" . }}
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h2 class="title is-4">Testimonial by {{ .Title }}</h2>
        </div>
      </div>
        <div class="columns">
            <div class="column is-8">
                <div class="box">
                  <div class="columns">
                    <div class="column is-4">
                      <figure class="image">
                        {{ if .Params.photo }}
                        <img src="{{ .Params.photo }}" alt="{{ .Title }} review" style="object-fit: cover;height:200px;width:200px;border-radius:50%;margin: 0 auto;">
                        {{else }}
                        <img src="http://www.hungryram.com/uploads/nophotohouse.jpg" alt="{{ .Title }} review" style="object-fit: cover;height:200px;width:200px;border-radius:50%;margin: 0 auto;">
                        {{end}}
                    </figure>
                    </div>
                    <div class="column quote-testimonial">

                        {{ if gt ( len .Content )  0 }}
                            <p>{{ .Content }}</p><br>
                        {{end}}
                        
                        {{ if gt ( len .Params.title )  0 }}
                            <strong><em>{{ .Params.title }}</em></strong><br>
                        {{end}}
                        
                        {{ if gt ( len .Params.occupation )  0 }}
                            <em>{{ .Params.occupation }}</em><br>
                        {{end}}
        
                        {{ if gt ( len .Params.date_published )  0 }}
                            <em>{{ .Params.date_published }}</em><br>
                        {{end}}
        
                        {{ if gt ( len .Params.source_link )  0 }}
                            {{ if gt ( len .Params.source_label )  0 }}
                                <a href="{{ .Params.source_link }}" target="_blank">{{.Params.source_label  }}</a><br>
                            {{end}}
                        {{end}}
        
                        {{ if gt ( len .Params.external_link )  0 }}
                            {{ if gt ( len .Params.link_label )  0 }}
                                <a href="{{ .Params.external_link }}" target="_blank">{{.Params.link_label  }}</a><br>
                            {{end}}
                        {{end}}
                            </div>
                  </div>
                </div>

            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</div>

{{ end }}
