<section class="section" id="featured-listings">
    <div class="container">
        <!-- Start Carousel -->
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title is-2">New Houses for sale</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam cum, perferendis eveniet eligendi esse eaque fuga temporibus, quas iusto iure consequatur nemo rem rerum facere, saepe excepturi distinctio dolorum!</p>
            </div>
        </div>
        <div id="carousel" class="carousel" style="overflow: hidden;">
            {{ range $.Site.Taxonomies.status.sold }}
            <div style="margin:10px">
                {{ partial "featured-listings.html" . }}
            </div>
            {{end}}
        </div>
        <!-- End Carousel -->
    </div>
</section>