<div class="tile is-ancestor cta__container">
  <div class="tile is-vertical is-12 has-text-centered">
    <div class="tile">

      {{ with .call_to_action_one.image_one_cta }}
      <div class="tile is-parent icon-cta-one-container" style='background: url("{{.}}");background-size: cover'>
        {{else}}
        <div class="tile is-parent icon-cta-one-container">
          {{end}}
        <article class="tile is-child">
          <div class="icon-cta-box">
            <div class="icon"><i class="fab fas fa-{{ .call_to_action_one.icon_one_cta }} fa-2x"></i></div>
          </div>
          <div class="icon-cta-content">
            <h3>{{ .call_to_action_one.title_one_cta }}</h3>
            <p>{{ .call_to_action_one.body_text_one_cta }}</p>
          </div>
        </article>
      </div>

      {{ with .call_to_action_two.image_two_cta }}
      <div class="tile is-parent icon-cta-two-container" style='background: url("{{.}}");background-size: cover'>
        {{else}}
        <div class="tile is-parent icon-cta-two-container">
          {{end}}
        <article class="tile is-child">
          <div class="icon-cta-box">
            <div class="icon"><i class="fab fas fa-{{ .call_to_action_two.icon_two_cta }} fa-2x"></i></div>
          </div>
          <div class="icon-cta-content">
            <h3>{{ .call_to_action_two.title_two_cta }}</h3>
            <p>{{ .call_to_action_two.body_text_two_cta }}</p>
          </div>
        </article>
      </div>

      {{ with .call_to_action_three.image_three_cta }}
      <div class="tile is-parent icon-cta-three-container" style='background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("{{.}}");background-size: cover'>
        {{else}}
        <div class="tile is-parent icon-cta-three-container">
          {{end}}
        <article class="tile is-child">
          <div class="icon-cta-box">
            <div class="icon"><i class="fab fas fa-{{ .call_to_action_one.icon_three_cta }} fa-2x"></i></div>
          </div>
          <div class="icon-cta-content">
            <h3>{{ .call_to_action_three.title_three_cta }}</h3>
            <p>{{ .call_to_action_three.body_text_three_cta }}</p>
          </div>
        </article>
      </div>

    </div>
  </div>
</div>
    
    