<section class="section" id="featured-listings">
    <div class="container">
        <!-- Start Carousel -->
        <div class="columns has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title is-2">New Houses for sale</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam cum, perferendis eveniet eligendi esse eaque fuga temporibus, quas iusto iure consequatur nemo rem rerum facere, saepe excepturi distinctio dolorum!</p>
            </div>
        </div>
        <div id="carousel" class="carousel" style="overflow: hidden;">
            {{ range first 6 (where .Site.RegularPages "Type" "listings") }}
            <div style="margin:10px">
                <a href="{{.Permalink}}">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <div class="carousel-overlay"><img src="{{ .Params.photos.main_photo }}" alt="Placeholder image"></div>
                        <span>${{ .Params.pricing.price }}</span>
                      </figure>
                    </div>

                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          
                          <p class="carousel-prop-title">{{ .Params.short_description }}</p>
                          <p class="carousel-prop-address">{{ .Params.address.address }}</p>
                        </div>
                      </div>
                  
                      <div class="columns">
                        <div class="column"><i class="fas fa-bed"></i>{{.Params.details.bedrooms}}</div>
                        <div class="column"><i class="fas fa-bath"></i>{{.Params.details.bathrooms}}</div>
                        <div class="column"><i class="fas fa-th-large"></i>{{.Params.details.square_footage}} Sq. ft</div>
                        <br>
                      </div>
                    </div>
                  </div>
                  </a>
            </div>
            {{end}}
        </div>
        <!-- End Carousel -->
    </div>
</section>