<div class="card" style="margin: 10px;">
  <a href="{{ .Permalink }}">
  <div class="listing-image-container">
      <div class="card-content listing-bg" style="background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url({{ if .Params.photos.main_photo }}{{ .Params.photos.main_photo }}{{else}}http://www.hungryram.com/uploads/nophotohouse.jpg{{ end }});height: 30vh;position:relative;background-size:cover">
    <div class="content">
      <span class="status">{{ .Params.status }}</span>
      {{ if .Params.featured_listing }}<span class="featured">Featured</span>{{ end }}
      <span style="float:right;color: white" class="list-pricing">${{ lang.NumFmt 0 .Params.weight }}{{with eq .Params.status "Rental" }}<span class="rent-per-month">/MONTH</span>{{end}}</span>
    </div>
    <div class="listing-bottom" style="position:absolute;bottom:0">
        <ul>
            <li class="list-description">{{ .Params.short_description }}</li>
            <li class="listing-address"><i class="fas fa-map-marker-alt"></i>{{ .Params.address.city }}, {{ .Params.address.state }} {{ .Params.address.zip_code }}</li>
        </ul>
    </div>
  </div>
</div>
  <footer class="card-footer">
      <span class="card-footer-item"><i class="fas fa-bed"></i> {{ .Params.details.bedrooms }} Beds</span>
    <span class="card-footer-item"><i class="fas fa-bath"></i>{{ .Params.details.bathrooms }} Baths</span>
  </footer>
  <footer class="card-footer">
      <span class="card-footer-item"><i class="far fa-clone"></i>{{ .Params.details.square_footage }} Sq Ft.</span>
      <span class="card-footer-item"><i class="fas fa-warehouse"></i> 2 Garage</span>
  </footer>
  <footer class="card-footer">
      <span class="card-footer-item">{{ .Params.details.property_type }}</span>
  </footer>
</a>
</div>