<div class="section" style="{{ safeHTMLAttr (printf "background-color: %s" .blog_background) }}">
    <div class="container">
    <div class="columns">
        <div class="column">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-12">
              <div class="tile">
                
                <div class="tile is-parent is-vertical">

                {{ with .top_left_tile }}
                  <article class="tile is-child home-tile" style="background:linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.5)),url('{{ .top_left_featured_image }}');background-size:cover;">
                    <a href="{{ .top_left_link_to_property }}">{{ .top_left_featured_title }}</a>
                  </article>
                {{end}}

                {{ with .bottom_left_tile }}
                  <article class="tile is-child home-tile" style="background:linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.5)),url('{{ .featured_image }}');background-size:cover;">
                    <a href="{{ .bottom_left_link_to_property }}">{{ .featured_title }}</a>
                  </article>
                {{end}}
                </div>
                <div class="tile is-parent">
                {{ with .right_tile }}    
                  <article class="tile is-child home-tile" style="background:linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.5)),url('{{ .featured_image }}');background-size:cover;">
                    <a href="{{ .right_link_to_property }}">{{ .featured_title }}</a>
                  </article>
                {{ end }}
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>