<div class="section">
    <div class="container">
    <div class="columns">
        <div class="column">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-12">
              <div class="tile home-tile">
                <div class="tile is-parent is-vertical">

                {{ with .top_left_tile }}
                  <article class="tile is-child notification is-primary" style="background:url('{{ .top_left_featured_image }}');">
                    <a class="title" href="{{ .top_left_link_to_property }}">{{ .top_left_featured_title }}</a>
                  </article>
                {{end}}

                  <article class="tile is-child notification is-warning" style="background:url(https://grandetest.com/theme/findhouse-html/images/property/fp1.jpg);background-size:cover;padding: 100px;">
                    <p class="title">{{ .bottom_left_tile.featured_title }}</p>
                  </article>

                </div>

                <div class="tile is-parent">      
                  <article class="tile is-child notification is-info" style="background:url(https://grandetest.com/theme/findhouse-html/images/property/fp2.jpg);background-size:cover;padding: 100px;">
                    <p class="title">Middle tile</p>
                  </article>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>