<!-- Footer -->

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Built by <a href="https://hungryram.com">Hungry Ram</a> First version of Real Estate Website
      </p>
    </div>
  </footer>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{.Site.BaseURL}}js/main.js"></script>
        <script src="{{.Site.BaseURL}}js/slick.min.js"></script>
        <script type="text/javascript">
            $('.single-item').slick();
          </script>
        <script>
            $(document).ready(function() {
            
            // Check for click events on the navbar burger icon
                $(".navbar-burger").click(function() {
                
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                
                });

                $('.sub-menu').click(function(){
                $('.sub').toggleClass('open');
                 });
            });
            </script>
            
		<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
		<script>
		bulmaCarousel.attach('#carousel', {
			slidesToScroll: 1,
			slidesToShow: 3
        });
        bulmaCarousel.attach('#listing-carousel', {
			slidesToScroll: 1,
			slidesToShow: 1
        });
        




        
    </script>
    <script>
      function siteRedirect() {
        var selectbox = document.getElementById("status-dropdown");
        var selectedValue = "{{ .Site.BaseURL }}" + "status/" + selectbox.options[selectbox.selectedIndex].value;
        window.location.href = selectedValue;
      }
    
    </script>
</html>