<!-- Footer -->

        <footer>
            <h1>This is the footer</h1>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{.Site.BaseURL}}js/main.js"></script>
        <script>
            $(document).ready(function() {
            
            // Check for click events on the navbar burger icon
                $(".navbar-burger").click(function() {
                
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                
                });

                $('.sub-menu').click(function(){
                $('.sub').toggleClass('open');
                 });
            });
            </script>
    </body>
</html>