<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap" rel="stylesheet">
    {{ with .Params.search_engine_optimization.meta_title }}
    <title>{{ . }}</title>
    {{ else }}
    <title>{{ .Site.Data.profile.search_engine_optimization.meta_title }}</title>
    {{ end }}
    {{ with .Params.search_engine_optimization.meta_description }}
    <meta name="description" content="{{ . }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Data.profile.search_engine_optimization.meta_description }}">
    {{ end }}
    {{ $color := .Site.Data.design.hero_button_bg_color }}
    <style>
        .hero__container {
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
            url("{{ .Site.Data.design.main_image.home_background_image }}") no-repeat center;
        }
    </style>
    <script src="https://kit.fontawesome.com/2dac2bfc0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.8/slick-lightbox.css"/>
    <link rel="shortcut icon" href="{{ .Site.Data.design.logo_or_title.favicon }}" />
</head>
<body>