<section class="hero is-fullheight hero__container">
    <!-- Hero head: will stick at the top -->
{{ partial "navbar.html" . }}

    <!-- Enable MP4 Video Background -->
    {{ if .Site.Data.homedesign.video_background }}
      <div class="hero-video">
        <video poster="img/bgimg.jpg" id="bgvid" playsinline autoplay muted loop>
            <source src="https://reformosa.pt/public/uploads/_/originals/c9e46682-1225-59f7-8596-67a74b011928.mp4" type="video/mp4">
        </video>
    </div>
    {{end}}



    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="hero-title title is-1">
          {{ .Site.Data.design.main_image.hero_title }}
        </h1>
        <h2 class="subtitle">
          {{ .Site.Data.design.main_image.hero_subtitle }}
        </h2>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Exclusive Homes</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

