<section class="hero is-fullheight hero__container">
    <!-- Hero head: will stick at the top -->
{{ partial "navbar.html" . }}

    <!-- Enable MP4 Video Background -->
    {{ if .Site.Data.homedesign.video_background }}
      <div class="hero-video">
        <video poster="img/bgimg.jpg" id="bgvid" playsinline autoplay muted loop>
            <source src="https://reformosa.pt/public/uploads/_/originals/c9e46682-1225-59f7-8596-67a74b011928.mp4" type="video/mp4">
        </video>
    </div>
    {{end}}



    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      {{ with .Site.Data.design.main_image.align_hero_text }}
        <div class="container {{ . }}">
          {{end}}
            <h1 class="hero-title title is-1">{{ .Site.Data.design.main_image.hero_title }}</h1>
            <h2 class="subtitle">{{ .Site.Data.design.main_image.hero_subtitle }}</h2>

            {{ if gt ( len .Site.Data.design.main_image.add_a_button.hero_button_text ) 0 }}
                <a href="{{ .Site.Data.design.main_image.add_a_button.hero_button_link }}" style="{{ safeHTMLAttr (printf "background-color: %s" .Site.Data.design.main_image.add_a_button.hero_button_bg_color ) }};{{ safeHTMLAttr (printf "color: %s" .Site.Data.design.main_image.add_a_button.hero_button_text_color ) }}" class="button hero-button" {{ if .Site.Data.design.main_image.add_a_button.open_in_new_tab }}target="_blank"{{end}} >{{ .Site.Data.design.main_image.add_a_button.hero_button_text }}</a>
            {{end}}
            
        </div>
    </div>

  
     <!-- Hero footer: will stick at the bottom -->
{{ if .Site.Data.idx.enable_home_quick_search }}
  <div class="hero-foot">
      <div class="section">
        <div class="container">
          <div class="columns">
            <div class="column">
              <script type="text/javascript" src="https://www.idxhome.com/site/listing/search/widget/{{ $.Site.Data.idx.idx_id }}?style=horizontal"></script>
            </div>
          </div>
        </div>
      </div>
  </div>
{{ end }}
  
  </section>

