<div class="section"  style="{{ safeHTMLAttr (printf "background-color: %s" .intro_background_color) }}">
    <div class="container">
        <div class="columns is-vcentered {{ with .intro_align_text }}{{ . }}{{end}}">

            {{ if .add_photo }}
                <div class="column">
                    <img src="{{ .add_photo }}" alt="{{ $.Site.Data.profile.primary_company_name }}" width="500">
                </div>
            {{ end }}

            <div class="column content">
                {{ if .intro_title }}
                    <h2 class="title is-2 {{ if .intro_enable_white_text_color }}has-text-white{{ end }}">{{ .intro_title }}</h2>
                {{ else }}
                    <h2 class="title is-2 {{ if .intro_enable_white_text_color }}has-text-white{{ end }}">About Us</h2>
                {{ end }}
                     <p class="content {{ if .intro_enable_white_text_color }}has-text-white{{ end }}">{{.intro_body}}</p>
                     {{ if gt ( len .intro_add_button.button_label ) 0 }}
                     <a href="{{ .intro_add_button.intro_button_link }}" style="{{ safeHTMLAttr (printf "background-color: %s" .intro_add_button.intro_button_background_color ) }};{{ safeHTMLAttr (printf "color: %s" .intro_add_button.intro_button_text_color ) }}" class="button intro-btn" {{ if .intro_add_button.intro_open_in_a_new_tab }}target="_blank"{{end}} >{{ .intro_add_button.button_label }}</a>
                 {{end}}
            </div>
        </div>
    </div>
</div>