


<div class="column">


    <div class="box">
        <h2 class="subtitle is-6">Search Properties<h2>
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select name="country" id="status-dropdown">
                {{ range $name, $taxonomy := .Site.Taxonomies.status }}
                <option value="{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</option>
              {{end}}
              </select>
            </div>
          </div>
          <div class="control">
            <button type="submit" class="button" onclick="siteRedirect()">Search</button>
          </div>
        </div>
    </div>



    <div class="box">
        <h2 class="subtitle is-6">Featured Properties<h2>
            {{ range first 100 (where $.Site.RegularPages "Type" "listings") }}
            {{ if .Params.featured_listing }}
            <div class="side-bar-featured" style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url({{ .Params.photos.main_photo }});">
              <a href="{{.Permalink }}">
                <div class="featured-status-sidebar">
                  <span>{{ .Params.status }}</span>
            {{ if .Params.featured_listing }}
            <i class="far fa-star"></i><em>Featured</em>
            {{end}}
                </div>
              <div class="container-featured">
                <div class="container-featured-column">
                  <h2>{{ .Params.short_description }}</h2>
                  <span>${{ .Params.pricing.price }}</span>
                </div>
                <div class="featured-details-sidebar">
                  <ul>
                    <li><span><i class="fas fa-bath"></i></i>{{ .Params.details.bathrooms }}</span></li>
                    <li><span><i class="fas fa-bed"></i>{{ .Params.details.bedrooms }}</span></li>
                    <li><span><i class="fas fa-th-large"></i>{{ .Params.details.square_footage }}</span></li>
                  </ul>
              </div>
              </div>
            </a>
            </div>
            {{end}}
            {{end}}
            <footer class="card-footer">
              <a href="/featured" class="card-footer-item single-agent-link">View More</a>
            </footer>
    </div>
    <div class="box">
      <h2 class="subtitle is-6">Blog Categories</h2>
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
          </li>
          {{end}}

        </ul>
    </div>
    <div class="box">
        <h2 class="subtitle is-6">Latest Posts<h2>

        {{ range  first 4 ( where $.Site.RegularPages "Type" "blog") }}
        <article class="media">
            {{ if .Params.featured_image }}
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="{{ .Params.featured_image }}" alt="Image">
              </figure>
            </div>
            {{end}}
            <div class="media-content">
              <div class="content">
                  <h1 class="title is-6">{{ .Params.title }}</h1>
                  <a href="{{ .Permalink }}">Continue Reading</a>
            </div>
        </article>
        {{end}}
    </div>
</div>