{{ partial "head.html" . }}
{{ partial "hero.html" . }}

    {{ range .Site.Data.design.home_sections }}

        {{/*  Intro  */}}
        {{ if eq "intro" .template }}
            {{ partial "intro" . }}
        {{ end }}

        {{ if eq "featured-tiles" .template }}
            {{ partial "featured-tiles" . }}
        {{ end }}


        {{ if eq "cta" .template }}
            {{ partial "cta" . }}
        {{ end }}

        {{ if eq "featured-blog" .template }}
        <section class="section active-listings" id="featured-listings">
            <div class="container">
                <!-- Start Carousel -->
                <div class="columns has-text-centered">
                    <div class="column is-half is-offset-one-quarter">
                        <h1 class="title is-2">{{ .blog_title }}</h1>
                        <p>{{ .blog_subtitle }}</p>
                    </div>
                </div>
                <div class="columns">
                {{ range first 3 (where $.Site.RegularPages "Type" "blog") }}

                    <div class="column is-one-third">
                        <a href="{{.Permalink}}">
                        <div class="card home-card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="{{ .Params.featured_image }}" alt="Placeholder image" style="object-fit: cover; padding: 20px">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media-content">
                                <p class="title is-5">{{ .Title }}</p>
                              </div> 
                              <hr>       
                              <div class="content">
                                <p>
                                {{slicestr .Summary 2 100 | markdownify }}
                                </p>
                              </div>
                            </div>
                          </div>
                          </a>
                    </div>

                {{ end }}
            </div>
                <div class="column" align="center"><a class="button" href="/blog/">View All</a></div>
            </div>
        </section>
        {{ end }}



        {{/*  ACTIVE LISTING  */}}
        {{ if eq "featured-listings" .template }}
            <section class="section active-listings" id="featured-listings">
                <div class="container">
                    <!-- Start Carousel -->
                    <div class="columns has-text-centered">
                        <div class="column is-half is-offset-one-quarter">
                            <h1 class="title is-2">{{ .active_listing_title }}</h1>
                            <p>{{ .listing_subtitle }}</p>
                        </div>
                    </div>
                    <div id="carousel" class="carousel" style="overflow: hidden;">
                        {{ range first 6 $.Site.Taxonomies.status.active }}
                        <div style="margin:10px">
                            {{ partial "featured-listings.html" . }}
                        </div>
                        {{end}}
                    </div>
                    <!-- End Carousel -->
                    <div class="column" align="center"><a class="button" href="/status/active/">View All</a></div>
                </div>
            </section>
        {{ end }}


        {{/*  SOLD LISTING  */}}
        {{ if eq "sold-listings" .template }}
        <section class="section sold-listings" id="featured-listings">
            <div class="container">
                <!-- Start Carousel -->
                <div class="columns has-text-centered">
                    <div class="column is-half is-offset-one-quarter">
                        <h1 class="title is-2">{{ .sold_listing_title }}</h1>
                        <p>{{ .sold_listing_subtitle }}</p>
                    </div>
                </div>
                <div id="carousel" class="carousel" style="overflow: hidden;">
                    {{ range first 6 $.Site.Taxonomies.status.sold }}
                    <div style="margin:10px">
                        {{ partial "featured-listings.html" . }}
                    </div>
                    {{end}}
                </div>
                <!-- End Carousel -->
                <div class="column" align="center"><a class="button" href="/status/sold/">View All</a></div>
                
            </div>
        </section>
        {{ end }}

    {{ end }}

{{ partial "footer.html" . }}