{{ partial "head.html" . }}
{{ partial "hero.html" . }}

    {{ range .Site.Data.design.home_sections }}

        {{/*  Intro  */}}
        {{ if eq "intro" .template }}
            {{ partial "intro" . }}
        {{ end }}

        {{ if eq "featured-tiles" .template }}
            {{ partial "featured-tiles" . }}
        {{ end }}


        {{ if eq "cta" .template }}
            {{ partial "cta" . }}
        {{ end }}

        {{/*  BLOG  */}}
        {{ if eq "featured-blog" .template }}
        <section class="section home-featured-sections" id="featured-listings" style="{{ safeHTMLAttr (printf "background-color: %s" .blog_background) }}">
            <div class="container">
                <!-- Start Carousel -->
                <div class="columns">
                    <div {{ if .blog_align_title_text }} class="column {{ .blog_align_title_text }} "{{ end }}>
                        <h4 class="subtitle is-6">{{ .blog_subtitle }}</h4>
                        <h1 class="title is-2">{{ .blog_title }}</h1>
                        
                    </div>
                </div>
                <div class="columns">
                {{ range first 3 (where $.Site.RegularPages "Type" "blog") }}

                    <div class="column is-one-third">
                        <a href="{{.Permalink}}">
                        <div class="home-card">
                            <div class="card-image">
                              <figure class="image is-16by9">
                                <img src="{{ .Params.featured_image }}" alt="Placeholder image" style="object-fit: cover;">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media-content">
                                <p class="title is-5">{{ .Title }}</p>
                              </div> 
                              <hr>       
                              <div class="content">
                                <p>
                                {{ slicestr .Summary 2 150 | markdownify }}
                                </p>
                                <a href="{{ .Permalink }}">Continue Reading</a>
                              </div>
                            </div>
                          </div>
                          </a>
                    </div>

                {{ end }}
            </div>
                <div class="column" align="center"><a class="button" href="/blog/">View All</a></div>
            </div>
        </section>
        {{ end }}



        {{/*  RENTAL LISTING  */}}
        {{ if eq "rental-listings" .template }}
            <section class="section home-featured-sections" id="featured-listings">
                <div class="container">
                    <!-- Start Carousel -->
                    <div class="columns has-text-centered">
                        <div class="column is-half is-offset-one-quarter">
                            <h4>{{ .rental_subtitle }}</h4>
                            <h1 class="title is-2">{{ .rental_title }}</h1>
                        </div>
                    </div>
                    <div id="carousel" class="carousel" style="overflow: hidden;">
                        {{ range first 6 $.Site.Taxonomies.status.rental }}
                        <div style="margin:10px">
                            {{ partial "featured-listings.html" . }}
                        </div>
                        {{end}}
                    </div>
                    <!-- End Carousel -->
                    <div class="column" align="center"><a class="button" href="/status/rental">View All</a></div>
                </div>
            </section>
        {{ end }}



        {{/*  ACTIVE LISTING  */}}
        {{ if eq "featured-listings home-featured-sections" .template }}
            <section class="section active-listings" id="featured-listings">
                <div class="container">
                    <!-- Start Carousel -->
                    <div class="columns has-text-centered">
                        <div class="column is-half is-offset-one-quarter">
                            <h4>{{ .listing_subtitle }}</h4>
                            <h1 class="title is-2">{{ .active_listing_title }}</h1>
                        </div>
                    </div>
                    <div id="carousel" class="carousel" style="overflow: hidden;">
                        {{ range first 6 $.Site.Taxonomies.status.active }}
                        <div style="margin:10px">
                            {{ partial "featured-listings.html" . }}
                        </div>
                        {{end}}
                    </div>
                    <!-- End Carousel -->
                    <div class="column" align="center"><a class="button" href="/status/active/">View All</a></div>
                </div>
            </section>
        {{ end }}


        {{/*  SOLD LISTING  */}}
        {{ if eq "sold-listings" .template }}
        <section class="section sold-listings home-featured-sections" id="featured-listings">
            <div class="container">
                <!-- Start Carousel -->
                <div class="columns has-text-centered">
                    <div class="column is-half is-offset-one-quarter">
                        <h4>{{ .sold_listing_subtitle }}</h4>
                        <h1 class="title is-2">{{ .sold_listing_title }}</h1>
                    </div>
                </div>
                <div id="carousel" class="carousel" style="overflow: hidden;">
                    {{ range first 6 $.Site.Taxonomies.status.sold }}
                    <div style="margin:10px">
                        {{ partial "featured-listings.html" . }}
                    </div>
                    {{end}}
                </div>
                <!-- End Carousel -->
                <div class="column" align="center"><a class="button" href="/status/sold/">View All</a></div>
                
            </div>
        </section>
        {{ end }}

    {{ end }}

{{ partial "footer.html" . }}