{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{ partial "breadcrumbs.html" . }}
        </div>
      </div>
        <div class="columns">
            <div class="column is-8">
                <div class="box">
                  <h2 class="title is-4">{{ .Title }}</h2>
                  <div class="contact-content content">
                    {{ .Params.contact_content }}
                  </div>
                    <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
                      <input name="bot-field" type="hidden"/>
                      <div class="field is-horizontal">
                        <div class="field-body">
                          <div class="field">
                            <p class="control is-expanded">
                              <input class="input" type="text" placeholder="First Name" name="first name">
                            </p>
                          </div>
                          <div class="field">
                            <p class="control">
                              <input class="input" type="text" placeholder="Last Name" name="last name">
                            </p>
                          </div>
                        </div>
                      </div>
                      
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Phone" name="phone">
                        </div>
                      </div>
            
                      <div class="field">
                        <div class="control">
                          <input class="input" type="email" placeholder="Email" name="email address">
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
                        </div>
                      </div>
                      <div class="control">
                        <button class="button" style="{{ safeHTMLAttr (printf "background-color: %s" $.Site.Data.design.colors.button_background_colors) }}">Submit</button>
                      </div>
                    </form>
                </div>
            </div>
            
            <div class="column">
              <div class="box">
                  <h2 class="subtitle is-6">Contact Information<h2>
                    {{ $contactSocial := .Site.Data.profile.social_accounts }}
                    {{ $locationContact := .Site.Data.profile.location_information }}
                    {{ $contactPage := .Site.Data.profile.primary_contact }}
                                <ul class="contact-page-icons">
                                {{ if $locationContact }}<li><i class="fas fa-map-marker-alt"></i> {{ $locationContact.address }} {{ $locationContact.city }} {{ $locationContact.state }} {{ $locationContact.zip_code }}</li> {{ end }}
                                {{ if $contactPage }}<li><i class="far fa-envelope"></i> {{ $contactPage.email }}</li> {{ end }}
                                {{ if $contactPage }}<li><i class="fas fa-mobile-alt"></i> {{ $contactPage.mobile_phone }}</li> {{ end }}
                                {{ if $contactPage }}<li><i class="fas fa-phone-alt"></i> {{ $contactPage.phone }}</li> {{ end }}
                              </ul>
                              <ul class="contact-page-social">
                                {{ if $contactSocial.facebook }}<li><a href="{{ $contactSocial.facebook }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>{{ end }}
                                {{ if $contactSocial.instagram }}<li><a href="{{ $contactSocial.instagram }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>{{ end }}
                                {{ if $contactSocial.linkedin }}<li><a href="{{ $contactSocial.linkedin }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>{{ end }}
                                {{ if $contactSocial.pinterest }}<li><a href="{{ $contactSocial.pinterest }}" target="_blank" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>{{ end }}
                              </ul>
              </div>
          
              <div class="box">
                <h2 class="subtitle is-6">Blog Categories</h2>
                  <ul>
                      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                    <li>
                      <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/categories{{ $name | urlize | relURL }}" class="secondary-btn">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
                    </li>
                    {{end}}
          
                  </ul>
              </div>
              <div class="box">
                  <h2 class="subtitle is-6">Latest Posts<h2>
          
                  {{ range  first 4 ( where $.Site.RegularPages "Type" "blog") }}
                  <article class="media">
                      {{ if .Params.featured_image }}
                      <div class="media-left">
                        <figure class="image is-96x96">
                          <img src="{{ .Params.featured_image }}" alt="Image">
                        </figure>
                      </div>
                      {{end}}
                      <div class="media-content">
                        <div class="content">
                            <h1 class="title is-6">{{ .Params.title }}</h1>
                            <a href="{{ .Permalink }}" class="secondary-btn">Continue Reading</a>
                      </div>
                  </article>
                  {{end}}
              </div>
          </div>

        </div>
    </div>
</div>
{{ end }}