{{ define "main" }}

<div class="section agent-lists">
    <div class="container">
        
        <div class="columns">
            
            <div class="column is-8">
                <div class="tabs is-centered">
                    <ul>
                        {{ range $name, $taxonomy := .Site.Taxonomies.status }}
                      <li>
                        <a hre f="/status/{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
                      </li>
                      {{end}}
                
                      <li>
                    </ul>
                  </div>
                <div class="columns is-multiline">
                {{ $paginator := .Paginate (where .Pages "Type" "listings") 10 }}
                {{ range $paginator.Pages }}
                    <div class="column is-6">   
                        {{ partial "featured-listings.html" . }}         
                    </div>   
                {{ end }}
                </div>
                {{ partial "pagination" . }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>
</div>

{{ end }}