{{ define "main" }}


				<!-- Start Carousel -->
				<div id="carousel-demo" class="carousel">
					<div class="item-1">
						<!-- Slide Content -->
					</div>
					<div class="item-2">
						<!-- Slide Content -->
					</div>
					<div class="item-3">
						<!-- Slide Content -->
					</div>
				</div>
				<!-- End Carousel -->
{{ .Params.Propertytitle }}

{{ .Params.Listingid }}<br>
{{ .Params.Address.Address }}<br>
{{ .Params.Details.bathrooms }}<br>
{{ .Params.Details.bedrooms }}<br>
{{ .Params.Details.lot_size }}<br>
{{ .Params.Details.property_type }}<br>
{{ .Params.Details.square_footage }}<br>
{{ .Params.Details.year_built }}<br>

<h2>Appliances:</h2>
<ul>
{{  range .Params.Utilities_and_features.appliances }}
<li>{{ . }}</li>
{{ end }}
</ul>

<h2>Floors:</h2>
<ul>
{{  range .Params.Utilities_and_features.floors }}
<li>{{ . }}</li>
{{ end }}
</ul>
<br>
{{ .Content }}
<ul>
    {{ range .Params.photogallery }}
      <li><img src="{{ . | relURL }}" width="300"></li>
    {{ end }}
  </ul>

{{ end }}