{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-11">
                <div class="single-item">
                  {{range .Params.photos.gallery}}
                  <div>
                    <div class="image" style="width: 500px">
                  <img src="{{.}}" alt="">
                  </div>
                  </div>
                  {{end}}
                </div>
      </div>
      <div class="column">test</div>

</div>
</div>
</div>

<div class="section listing-details">
  <div class="container">
    <div class="columns is-variable is-3">
      <div class="column is-3">
        <div class="box">
          <h2 class="title is-6">Details</h2>
            <table class="table">
              <tr>
                <td>Status</td>
                <td>{{ .Params.status }}</td>
              </tr>
              <tr>
                <td>Beds</td>
                <td>{{ .Params.details.bedrooms }}</td>
              </tr>
              <tr>
                <td>Baths</td>
                <td>{{ .Params.details.bathrooms }}</td>
              </tr>
              <tr>
                <td>Square Footage</td>
                <td>{{ .Params.details.square_footage }}</td>
              </tr>
              <tr>
                <td>Location</td>
                <td>{{ .Params.address.city }}</td>
              </tr>
              <tr>
                <td>Property Type</td>
                <td>{{ .Params.details.property_type }}</td>
              </tr>
            </table>
            <h2 class="title is-6">Open House</h2>
            <p>{{ .Params.tools.open_house_date }}</p><br>
            <h2 class="title is-6">Extras</h2>
            <p><a href="{{ .Params.tools.virtual_tours }}" target="_blank">Virtual Tour</a></p>
        </div>
        <div class="box">
          <h2 class="title is-6">Property Attachments</h2>
          {{ if .Params.tools.file_attachments }}
          <p class="box"><a href="{{ . }}"><i class="fas fa-download"></i>Download File</a></p>
          {{else}}
          <p>no file</p>
          {{end}}
        </div>
      </div>
      <div class="column">
        <div class="box">
          <p>MLS Number: {{ .Params.details.mls_number }}</p>
          <hr>
          <h2 class="title is-6">Property Description</h2>
          <p>{{.Content}}</p>
        </div>
        <div class="box">
          test
        </div>
      </div>
    </div>
    </div>
  </div>
{{ end }}